---
import '../styles/global.css';
import '@fontsource/inter';

export interface Props {
	title: string;
	description: string;
	metaTitle?: string;
	image?: string;
}

const {
	title = 'Erisa!!',
	metaTitle = "It's me, Erisa!",
	description = "Hiya! This website provides links to my stuff. I think that's about it, might be more.",
	image = 'https://cdn.erisa.uk/avatars/common.png',
} = Astro.props;

let astroUrl = Astro.url
astroUrl.pathname = astroUrl.pathname.replace('.html', '')

---

<!--

	(*・ω・)ﾉ
	I'm not the best at web development, if anything looks unusual then feel free to report it here: https://github.com/Erisa/erisa.uk/issues

-->

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="generator" content={Astro.generator} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={astroUrl} />
<meta property="og:title" content={metaTitle} />
<meta property="og:site_name" content="Erisa's Website" />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, astroUrl)} />

<!-- Twitter -->
<meta property="twitter:url" content={astroUrl} />
<meta property="twitter:title" content={metaTitle} />
<meta property="twitter:description" content={description} />

<!-- Mastodon verification -->
<link rel="me" href="https://awau.social/@erisa" />

<!-- Plausible Analytics -->
<script defer data-domain="erisa.uk" src="https://plausible-analytics.erisa.uk/js/script.js"></script>
